#mySidenav a {
  color: white;
}

#foods {
    top: 20px;
    background-color: black;
}

#map {
    top: 140px;
    background-color: black;
}

#main {
    top: 80px;
    background-color: black;
}

body {
  background: url("../images/about.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body::-webkit-scrollbar {
    width: 1em;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: white;
  outline: 1px solid slategrey;
}

.header h1 {
  font-size: 150px;
  text-align: center;
  color: black;
  font-weight: bold;
  -webkit-text-stroke: 2px white;
}

p.blocktext {
  color: white;
  background: black;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 50em
}
