#mySidenav a {
  color: white;
}


body {
  background: url("../images/about.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header h1 {
  font-size: 90px;
  text-align: center;
  color: black;
  font-weight: bold;
}

p.blocktext {
  color: white;
  background: black;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 50em
}
