#mySidenav a {
  color: whitesmoke;
}

#about {
    top: 20px;
    background-color: rgba(66,56,56);
}

#foods {
    top: 80px;
    background-color: rgba(66,56,56);
}

#map {
    top: 140px;
    background-color: rgba(66,56,56);
}

#main {
    top: 200px;
    background-color: rgba(66,56,56);
}

body {
  background: whitesmoke;
}

body::-webkit-scrollbar {
    width: 1em;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(66,56,56);
  outline: 1px solid slategrey;
}

.header h1 {
  font-size: 250px;
  color: rgba(66,56,56)
}

h2 {
  color: rgba(66,56,56)
}
ul {
    color: rgba(66,56,56)
}

#what-with-2 {
  margin: 0px 0px 0px 0px;
}
