#mySidenav a {
    position: absolute;
    left: -130px;
    transition: 0.3s;
    padding: 15px;
    width: 190px;
    text-decoration: none;
    font-size: 20px;
    color: green;
    border-radius: 0 5px 5px 0;
    font-family: 'Righteous', cursive;
}

#mySidenav a:hover {
    left: 0;
}

#about {
    top: 20px;
    background-color: black;
}

#foods {
    top: 80px;
    background-color: black;
}

#map {
    top: 140px;
    background-color: black;
}

#main {
    top: 200px;
    background-color: black;
}

body {

}
.header h1 {
  font-size: 250px;
  text-align: center;
  font-family: 'Righteous', cursive;
  margin: 75px 50px 75px 100px;
}

.header2 {
  margin-top: 0;
}

h2{
    font-size: 50px;
    text-align: left;
    font-family: 'Righteous', cursive;
}

p {
  max-width: 700px;
  padding: 20px;
  margin: 2;
}

div{
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    text-align: left;
}

ul {
    font-size: 20px;
    text-align: left;
    font-family: 'Poiret One', cursive;
    }

a:hover {
    font-weight: bolder;
}

.important {
  font-weight: bold;
}
.latin {
  font-style: italic;
}
