body {
  background: url("../images/wood.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#mySidenav a {
  color: rgba(57,40,24);
}

#about {
    top: 20px;
    background-color: rgba(69,140,140);
}


#main {
    top: 80px;
    background-color: rgba(69,140,140);
}

#map {
    top: 140px;
    background-color: rgba(69,140,140);
}


body::-webkit-scrollbar {
    width: 1em;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(69,140,140);
  outline: 1px solid white;
}

.header h1 {
  font-size: 200px;
  color: rgba(69,140,140);
  text-align: center;
  font-weight: bold;
  -webkit-text-stroke: 2px white;
}
